@import "tailwindcss";

@custom-variant dark (&:is([theme=dark], [theme=dark] *));
/* @custom-variant dark (&:is(.dark *)); */


[data-theme="dark"] .icon {
  filter: none;
}

[data-theme="light"] .icon {
  filter: brightness(0) saturate(100%) invert(23%) sepia(7%) saturate(2051%)
    hue-rotate(191deg) brightness(89%) contrast(86%);
}

@theme {
  --color-primary: #ffffff;
  --color-outline-primary: #000000;
  --color-secondary: #30334e;
  --color-outline-secondary: #f7f7f9;
  --color-tertiary: #282a42;
  --color-outline-tertiary: #666cff;
  --color-badge: #ff4d49;
  --color-link: #6369f4;
  --color-dark: #eaeaffe6;
  --color-light: #262b43e6;
}
